<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="tool" style="width: 100%; margin-top: 1.5em">
        <button nz-button (click)="onUpload()" class="ml-auto mr-2">
          Upload File XML
        </button>
      </div>
      <nz-tabset [nzSize]="'large'">
        <nz-tab [nzTitle]="'HỌC VIÊN '">
           <app-driver></app-driver>
        </nz-tab>
        <nz-tab [nzTitle]="'KHÓA HỌC '">
           <app-course></app-course>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>