<div class="wrapper">
  <div class="container-fluid">
    <div class="d-flex flex-column mt-2">
      <div nz-row class="d-flex flex-row">
        <h6><b><i>TIẾP NHẬN BÁO CÁO 1</i></b></h6>
      </div>
      <nz-divider nzText="KHÓA HỌC" nzOrientation="left"></nz-divider>
      <div nz-row class="d-flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="16">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="4">
              Đơn vị
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="4">
              <input nz-input [(ngModel)]="course.maCSDT" name="maCSDT" [readonly]="true" />
            </nz-form-control>
            <nz-form-control nz-col [nzSpan]="16">
              <input nz-input [(ngModel)]="course.tenCSDT" name="tenCSDT" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="d-flex flex-row">
        <div nz-col [nzSpan]="16">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="4">
              Chọn tệp
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="16">
              <input nz-input type="file" name="file" (change)="onChangeFileEvent($event)" />
            </nz-form-control>
            <nz-form-control nz-col [nzSpan]="4">
              <button nz-button (click)="onUploadXml()" class="ml-auto mr-2">
                Đẩy file XML
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="d-flex flex-row">
        <div nz-col [nzSpan]="8">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="8">
              Mã báo cáo
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="16">
              <input nz-input [(ngModel)]="course.maBCI" name="maBCI" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="16">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="4">
              Khóa học
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="20">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Lựa chọn khóa học" [(ngModel)]="course.maKhoaHoc"
                (ngModelChange)="courseSelectedChange($event)">
                <nz-option *ngFor="let item of listCourse" [nzLabel]="item.tenKhoaHoc"
                  [nzValue]="item.maKhoaHoc"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="d-flex flex-row">
        <div nz-col [nzSpan]="8">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="8">
              Ngày khai giảng
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="16">
              <input nz-input [(ngModel)]="course.ngayKhaiGiang" name="ngayKhaiGiang" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="8">
              Ngày bế giảng
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="16">
              <input nz-input [(ngModel)]="course.ngayBeGiang" name="ngayBeGiang" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="8">
              Trạng thái
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="16">
              <input nz-input [(ngModel)]="course.state" name="state" [readonly]="true" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-divider nzText="THÔNG TIN QUÁ TRÌNH ĐỒNG BỘ" nzOrientation="left"></nz-divider>
      <div nz-row class="d-flex flex-row">
        <div nz-col [nzSpan]="8">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="6">
              Học viên
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="18" *ngIf="reportOneInfo.driverSuccess != null">
              Thành công: {{reportOneInfo.driverSuccess}} - Thất bại: {{reportOneInfo.driverFailed}} - Chưa đồng bộ:
              {{reportOneInfo.driverNotSubmitted}}
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="6">
              Ảnh đại diện
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="18" *ngIf="reportOneInfo.profileSuccess!= null">
              Thành công: {{reportOneInfo.profileSuccess}} - Thất bại: {{reportOneInfo.profileFailed}} - Chưa đồng bộ:
              {{reportOneInfo.profileNotSubmitted}}
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="6">
              Đăng ký
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="18" *ngIf="reportOneInfo.enrollSuccess != null">
              Thành công: {{reportOneInfo.enrollSuccess}} - Thất bại: {{reportOneInfo.enrollFailed}} - Chưa đồng bộ:
              {{reportOneInfo.enrollNotSubmitted}}
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="d-flex flex-row">
        <div nz-col [nzSpan]="12">
          <p style="color: red;"><b>Lưu ý: Cần chạy đồng bộ khóa học và học viên trước đồng bộ ảnh, đồng bộ đăng ký</b>
          </p>
        </div>
        <div nz-col [nzSpan]="12">
          <div class="float-right">
            <button nz-button (click)="onSubmitCourse()" class="ml-auto mr-2">
              1. Đồng bộ khóa học
            </button>
            <button nz-button (click)="onSubmitDriver()" class="ml-auto mr-2">
              2. Đồng bộ học viên
            </button>
            <button nz-button (click)="onSubmitAvatar()" class="ml-auto mr-2">
              3. Đồng bộ Ảnh học viên
            </button>
            <button nz-button (click)="onSubmitUserEnroll()" class="ml-auto mr-2">
              4. Đồng bộ đăng ký
            </button>
          </div>
        </div>
      </div>
      <nz-divider nzText="DANH SÁCH HỌC VIÊN" nzOrientation="left"></nz-divider>
      <div nz-row class="d-flex flex-row">
        <app-driver (onSubmitEvent)="onSubmitEvent($event)" class="app-driver pl-3 pr-3"></app-driver>
      </div>
    </div>

  </div>
</div>