<div class="member-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div nz-row [nzGutter]="8" style="width: 100%; margin-top: 1.5em">
        <div nz-col nzSpan="12">
          <nz-input-group class="search" [nzSuffix]="suffixIconSearch">
            <input id="search" type="text" nz-input placeholder="Nhập từ tìm kiếm" (keyup.enter)="search()" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </div>
        <div nz-col nzSpan="12">

        </div>
      </div>

    </div>
    <div class="row">
      <nz-table [nzScroll]="{ y: '300px' }" class="table" nzShowPagination="false" [nzData]="listData"
        (nzQueryParams)="onQueryParamsChange($event)" style="width: 100%; margin-top: 1.5em">
        <thead>
          <tr>
            <th nzAlign="center" nzWidth="50px">
              <label nz-checkbox [ngModel]="checkedBoxAll" (ngModelChange)="checkedAll($event)"></label>
            </th>
            <!-- <th nzAlign="center" nzWidth="80px">STT</th> -->
            <th nzAlign="center" nzColumnKey="maDK" [nzSortFn]="true">Mã đăng ký</th>
            <th nzAlign="center" nzColumnKey="hoVaTen" [nzSortFn]="true">Họ và tên</th>
            <th nzAlign="center" nzColumnKey="soCMT" [nzSortFn]="true">Số CMT</th>
            <!-- <th nzAlign="center">Giới tính</th> -->
            <th nzAlign="center" nzColumnKey="ngaySinh" [nzSortFn]="true">Ngày sinh</th>
            <th nzAlign="center">Trạng thái học viên</th>
            <th nzAlign="center">Ghi chú học viên</th>
            <th nzAlign="center">Trạng thái ảnh</th>
            <th nzAlign="center">Ghi chú ảnh</th>
            <th nzAlign="center">Trạng thái đăng ký</th>
            <th nzAlign="center">Ghi chú đăng ký</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData; let idx = index">
            <td nzAlign="center">
              <label nz-checkbox [ngModel]="item.isChecked" (ngModelChange)="isChecked($event, idx)"></label>
            </td>
            <!-- <td nzAlign="center">
              {{ idx + 1 }}
            </td> -->
            <td nzAlign="center">
              {{ item.maDK }}
            </td>
            <td nzAlign="center">
              {{ item.hoVaTen }}
            </td>
            <td nzAlign="center">
              {{ item.soCMT }}
            </td>
            <!-- <td nzAlign="center">
              {{ item.gioiTinh }}
            </td> -->
            <td nzAlign="center">
              {{ item.ngaySinh | date : 'yyyy-MM-dd' }}
            </td>
            <td nzAlign="center">
              {{ item.state | recordState }}
            </td>
            <td nzAlign="center">
              {{ item.error }}
            </td>
            <td nzAlign="center">
              {{ item.stateProfile | recordState }}
            </td>
            <td nzAlign="center">
              {{ item.errorProfile }}
            </td>
            <td nzAlign="center">
              {{ item.stateEnroll | recordState }}
            </td>
            <td nzAlign="center">
              {{ item.errorEnroll }}
            </td>

          </tr>
        </tbody>
      </nz-table>
      <div class="paging">
        <nz-pagination (nzPageIndexChange)="changePageNumber($event)" (nzPageSizeChange)="changePageSize($event)"
          [(nzPageIndex)]="pageNumber" [nzTotal]="totalElements" nzShowSizeChanger [(nzPageSize)]="pageSize"
          [nzShowTotal]="total">
        </nz-pagination>
        <ng-template #total let-total>Tổng số: {{ totalElements }}</ng-template>
      </div>
    </div>
  </div>
</div>