<div class="member-wrapper">
  <div class="container">
    <div class="row">
      <!-- <div class="tool" style="width: 100%; margin-top: 1.5em"> -->
      <div nz-row [nzGutter]="8" style="width: 100%; margin-top: 1.5em">
        <div nz-col nzSpan="12">
          <nz-input-group class="search" [nzSuffix]="suffixIconSearch">
            <input id="search" type="text" nz-input placeholder="Nhập từ tìm kiếm" (keyup.enter)="search()" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </div>
        <div nz-col nzSpan="12">
          <div  class="float-right">
            <button nz-button (click)="onSubmit()" class="ml-auto mr-2">
              Submit học viên
            </button>
            <button nz-button (click)="onSubmitAvatar()" class="ml-auto mr-2">
              Submit Ảnh học viên
            </button>
          </div>
       
        </div>
      </div>

      <!-- </div> -->
    </div>
    <div class="row">
      <nz-table [nzScroll]="{ x: '1200px' , y: '400px' }" class="table" nzShowPagination="false" [nzData]="listData"
        style="width: 100%; margin-top: 1.5em">
        <thead>
          <tr>
            <th nzAlign="center" nzWidth="50px">
              <label nz-checkbox [ngModel]="checkedBoxAll" (ngModelChange)="checkedAll($event)"></label>
            </th>
            <th nzAlign="center" nzWidth="80px">STT</th>
            <th nzAlign="center">Mã đăng ký</th>
            <th nzAlign="center">Họ và tên</th>
            <th nzAlign="center">Số CMT</th>
            <th nzAlign="center">Giới tính</th>
            <th nzAlign="center">Ngày sinh</th>
            <th nzAlign="center">Trạng thái</th>
            <th nzAlign="center">Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData; let idx = index">
            <td nzAlign="center">
              <label nz-checkbox [ngModel]="item.isChecked" (ngModelChange)="isChecked($event, idx)"></label>
            </td>
            <td nzAlign="center">
              {{ idx + 1 }}
            </td>
            <td nzAlign="center">
              {{ item.maDK }}
            </td>
            <td nzAlign="center">
              {{ item.hoVaTen }}
            </td>
            <td nzAlign="center">
              {{ item.soCMT }}
            </td>
            <td nzAlign="center">
              {{ item.gioiTinh }}
            </td>
            <td nzAlign="center">
              {{ item.ngaySinh | date : 'yyyy-MM-dd' }}
            </td>
            <td nzAlign="center">
              {{ item.state }}
            </td>
            <td nzAlign="center">
              {{ item.error }}
            </td>

          </tr>
        </tbody>
      </nz-table>
      <div class="paging">
        <nz-pagination (nzPageIndexChange)="changePageNumber($event)" (nzPageSizeChange)="changePageSize($event)"
          [(nzPageIndex)]="pageNumber" [nzTotal]="totalElements" nzShowSizeChanger [(nzPageSize)]="pageSize"
          [nzShowTotal]="total">
        </nz-pagination>
        <ng-template #total let-total>Tổng số: {{ totalElements }}</ng-template>
      </div>
    </div>
  </div>
</div>