<div class="member-wrapper">
    <div class="container">
        <div class="row">
            <div class="tool" style="width: 100%; margin-top: 1.5em">
                <nz-input-group class="search" [nzSuffix]="suffixIconSearch">
                    <input id="search" type="text" nz-input placeholder="Nhập từ tìm kiếm" (keyup.enter)="search()" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                </ng-template>
                <button nz-button (click)="onSubmit()" class="ml-auto mr-2">
                    Submit Khóa học
                </button>

            </div>

            <nz-table class="table" nzShowPagination="false" [nzData]="listData" style="width: 100%; margin-top: 1.5em">
                <thead>
                    <tr>
                        <th nzAlign="center">
                            <label nz-checkbox [ngModel]="checkedBoxAll" (ngModelChange)="checkedAll($event)"></label>
                        </th>
                        <th nzAlign="center">STT</th>
                        <th nzAlign="center">Mã BC1</th>
                        <th nzAlign="center">Tên Sở GTVT</th>
                        <th nzAlign="center">Tên CSĐT</th>
                        <th nzAlign="center">Mã khóa học</th>
                        <th nzAlign="center">Tên khóa học</th>
                        <th nzAlign="center">Hạng GPLX</th>
                        <th nzAlign="center">Số học sinh</th>
                        <th nzAlign="center">Ngày khai giảng</th>
                        <th nzAlign="center">Ngày bế giảng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listData; let idx = index">
                        <td nzAlign="center">
                            <label nz-checkbox [ngModel]="item.isChecked"
                                (ngModelChange)="isChecked($event, idx)"></label>
                        </td>
                        <td nzAlign="center">
                            {{ idx + 1 }}
                        </td>
                        <td nzAlign="center">
                            {{ item.maBCI }}
                        </td>
                        <td nzAlign="center">
                            {{ item.tenSoGTVT }}
                        </td>
                        <td nzAlign="center">
                            {{ item.tenCSDT }}
                        </td>
                        <td nzAlign="center">
                            {{ item.maKhoaHoc }}
                        </td>
                        <td nzAlign="center">
                            {{ item.tenKhoaHoc }}
                        </td>
                        <td nzAlign="center">
                            {{ item.hangGPLX }}
                        </td>
                        <td nzAlign="center">
                            {{ item.soHocSinh }}
                        </td>
                        <td nzAlign="center">
                            {{ item.ngayKhaiGiang | date: 'dd/MM/yyyy' }}
                        </td>
                        <td nzAlign="center">
                            {{ item.ngayBeGiang | date: 'dd/MM/yyyy' }}
                        </td>

                    </tr>
                </tbody>
            </nz-table>
            <div class="paging">
                <nz-pagination (nzPageIndexChange)="changePageNumber($event)"
                    (nzPageSizeChange)="changePageSize($event)" [(nzPageIndex)]="pageNumber" [nzTotal]="totalElements"
                    nzShowSizeChanger [(nzPageSize)]="pageSize" [nzShowTotal]="total">
                </nz-pagination>
                <ng-template #total let-total>Tổng số: {{ totalElements }}</ng-template>
            </div>
        </div>
    </div>
</div>